@using PagedList.Mvc;
@using PagedList;

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var students = ViewBag.Students;
}

<h2 class="text-center text-uppercase" >Danh sách sinh viên</h2>
<div class="input-group mb-3"  >
    <input type="text" class="form-control border" placeholder="Nhập vào mã sinh viên cần tìm"
           aria-label="Nhập vào vai trò cần tìm" aria-describedby="button-search"
           id="search" value="@ViewBag.Search" autocomplete="off"/>
    <div class="input-group-append" style="margin-left: 18px;">
        <button class="btn btn-outline-dark" type="button" id="button-search">
            <i class="fa fa-search" aria-hidden="true"></i>
        </button>
    </div>
</div>

<table class="table table-striped">
    <tr class="table-light">
        <th>
            MSSV
        </th>
        <th>
            NameStudent
        </th>
        <th>
            Ngày sinh
        </th>
        <th>
            Giới tính
        </th>
        <th>
            SĐT
        </th>
        <th>
            Dân tộc
        </th>
        <th>
            Tôn Giáo
        </th>
        <th>
            Trạng thái
        </th>
        <th>
        </th>
    </tr>

    @foreach (var item in students)
    {
        <tr>
            <td>
                @item.MSSV
            </td>
            <td>
                @item.NameStudenr
            </td>
            <td>
                @item.DateOfBirth.Date.ToShortDateString()
            </td>
            <td>
                @item.Gender
            </td>
            <td>
                @item.PhoneNumber
            </td>
            <td>
                @item.Ethnicity
            </td>
            <td>
                @item.Religion
            </td>
            <td>
                @item.Status
            </td>
            <td>
                <a style=" text-decoration: none; color: #428bca;" class='fa-solid fa-bars' href="@Url.Action("Details", "Student", new { id = item.MSSV })" >
                </a>
            </td>
        </tr>
    }

</table>
@Html.PagedListPager((IPagedList)ViewBag.Students, page => Url.Action("Index", new { page, @ViewBag.Search }))

@section Scripts {
    <script>
        $(document).ready(function () {
            $('#button-search').click(function () {
                var search = $('#search').val();
                window.location.href = '@Url.Action("Index", new { page = 1 })' + '&search=' + search;
            });

            $('#search').keypress(function (e) {
                if (e.which == 13) {
                    var search = $('#search').val();
                    window.location.href = '@Url.Action("Index", new { page = 1 })' + '&search=' + search;
                }
            });
        });
    </script>
}