@model IEnumerable<StudentManagement.Models.CoursesRegistered>

@{
    ViewBag.Title = "ShowListSubjectRegister";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var student = ViewBag.Student;
}

<h2>Danh sách môn học mà sinh viên đã đăng kí</h2>

<p class="text-bg-success">
    Đăng ký tổng cộng: @ViewBag.Count môn!
</p>
<table class="table">
    <tr>
        <th>
            Học Kỳ
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NameSubject)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Credits)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CourseType)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CourseWorkScore)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ExamScore)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TotalScore)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
          @Html.DisplayFor(modelItem => item.NameSemester)   @Html.DisplayFor(modelItem => item.YearStart)             @Html.DisplayFor(modelItem => item.YearEnd)

        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NameSubject)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Credits)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CourseType)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CourseWorkScore)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ExamScore)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TotalScore)
        </td>
        <td>
          
        </td>
    </tr>
}

</table>
