@{
    List<StudentManagement.Models.CoursesRegistered> courses = ViewBag.CoursesRegistereds;

}
<h2 class="text-center text-uppercase">Danh sách môn học mà sinh viên đã đăng kí</h2>

<p class="">
    Đăng ký tổng cộng: @ViewBag.Count môn!
</p>
<table class="table">
    <tr>
        <th class="">
        </th>
        <th class="">
            NameSubject
        </th>
        <th class="">
            Credits
        </th>
        <th class="">
            CourseType
        </th>
        <th class="">
            Bắt đầu
        </th>
        <th class="">
            Kết thúc
        </th>
        <th></th>
    </tr>

    @{ string nameSemester = "";
        foreach (var item in courses)
        {
            string name = item.NameSemester + " " + item.YearStart + " " + item.YearEnd;
        <tr>
            <td class="">

                @{
                    if (!nameSemester.Equals(name))
                    {
                        @name
                        nameSemester = name;
                    }
                }
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NameSubject)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Credits)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CourseType)
            </td>
            @*<td>
            @Html.DisplayFor(modelItem => item.CourseWorkScore)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ExamScore)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TotalScore)
        </td>*@
            <td>
                @Html.DisplayFor(modelItem => item.StartDate)

            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EndDate)

            </td>
            <td>
            </td>
        </tr>
        }
    }

</table>
