@model IEnumerable<StudentManagement.Models.EnrolledCourses>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.IDEnrolledCourses)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IDSubject)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IDLecturer)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IDSemester)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StartDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EndDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ExpectedClass)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Capacity)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.IDEnrolledCourses)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IDSubject)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IDLecturer)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IDSemester)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.StartDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EndDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ExpectedClass)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Capacity)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
}

</table>
