@model IEnumerable<StudentManagement.Models.Student>

@{
    ViewBag.Title = "ShowList";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="text-danger">Câu 1 DANH SÁCH SINH VIÊN</h2>


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.MSSV)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NameStudenr)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DayAdmission)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateOfBirth)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Gender)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.Status)
        </th>
        <th></th>
        <th></th>

    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.MSSV)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NameStudenr)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DayAdmission)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DateOfBirth)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Gender)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Status)
        </td>
        <td>
            @Html.ActionLink("Câu 2: Chi tiết ", "Details", new {  id=item.MSSV  })
        </td>
        <td>
             @Html.ActionLink("Câu 3 - 4", "ShowListSubjectRegister", new { id = item.MSSV })
        </td>
    </tr>
}

</table>
